<!DOCTYPE html>
<html lang="en-US">


<head>
	<title>Showcase</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style type="text/css">
		body {background-color: black; color: white; text-align: center;}
		h1 {border: 2px solid rgb(25,40,165);}
		span {border: 2px solid rgb(25,40,165);}
		img {margin-left: auto; margin-right: auto}
	</style>
</head>



	<img src = "templogo.png" alt = "logo" class="center" style="type:block">
	<hr>


	<span style="font-size: 80px; color: rgb(80,171,202);">&nbsp About &nbsp</span>
	<p style="font-size: 35px;background-color: rgb(80,171,202); color: black;">
		College applications are very one sided. Most colleges don't ever get to know you as a person, but rather a faceless GPA and SAT score. We wanted to change this entirely, by creating a website where you can express your true self to colleges. Showcase is an online platform for high school students to create a 360 degree portfolio about themselves that highlights their unique talents, skills, interests, hobbies, and accomplishments to prospective universities, employers, or internships. Students can also promote their friends, share blog articles and projects, and create a community that helps each and everyone reach their fullest potential. With Showcase, colleges can see you as you. So join us and together let’s showcase our story!
	</p>



	<p style="font-size: 120px;">
		<img src = "painter.png" alt = "painter">
		Showcase your <em>creativity</em>
	</p>
	<hr>

	<p style="font-size: 120px;">
		Showcase your <em>style</em>
		<img src="stylist.png" alt="stylist">
	</p>
	<hr>

	<p style="font-size: 120px;">
		<img src="victor.png" alt="victor">
		Showcase your <em>victories</em>
	</p>
	<hr>

	<p style="font-size: 120px;">
		Showcase your <em>life</em>
		<img src="life.png" alt="life">
	</p>
	<hr>

	<img src="you.png" alt="you" style="margin-bottom: 0;">
	<p style="font-size: 120px;">
		Showcase <em><big><big><big>you</big></big></big></em>
	</p>







	<br>







	<input type="file" name="Upload your profile picture!" accept="image/*" onchange="loadFile(event)">
	<p><img id="outputImage"/></p>
	<script>
	    var loadFile = function(event) {
	        var image = document.getElementById('outputImage');
	        image.src=URL.createObjectURL(event.target.files[0]);
	    };
	</script>

	<label for="area"> Tell us about yourself! &nbsp</label>
	<textarea id = "area" name="description" cols="30" rows="4" placeholder="Description"></textarea>
	<button onclick="displayText()">Submit</button>
	<br>
	<p id="output"></p>
	<script>
		function displayText() {
			const text = document.getElementById("area").value;
			document.getElementById("output").textContent = text;
		}
	</script>


<!-- 	<p>
		<a 
			href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
			target="_blank"
		> 
			Upload Picture! 
		</a>
	</p> -->

<!-- 	<p>
		Here's some praise for our website!
	</p>
	<blockquote>
		Showcase is my favorite platform!
	</blockquote> -->




<!-- 
	<br><br><br>
	<address>
		Created by Jonah and Aditya
	</address> -->




</body>



</html>